.logo {
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 5;
  width: 100%;
}

.logo-image {
  width: 350px;
  height: 74px;
}

.app-container {
  position: relative;
  clear: both;
  background-color: #f7f7f7;
  padding: 0 25px 5px 25px;
  margin-top: 74px;
  width: 100%;
}

.btn-new-game {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 20px;
}

.btn-primary {
  color: #FFF;
  background-color: #FF675B;
  border: 1px solid rgba(0,0,0,.1);

  font-family: 'Roboto Condensed', sans-serif;
}