<div header>%nbsp;</div>

<div class="app-container game-page">
    <div class="player-container">
        <h2 class="title">Player 1</h2>
        <div class="form-group"
             data-ng-show="!gameCtrl.gameStarted">
            <input type="text"
                   placeholder="Name"
                   class="form-control"
                   data-ng-model="gameCtrl.player1.name"
                   data-ng-disabled="gameCtrl.gameStarted"/>
        </div>
        <div class="form-group"
             data-ng-show="!gameCtrl.gameStarted">
            <input type="email"
                   placeholder="E-mail"
                   class="form-control"
                   data-ng-model="gameCtrl.player1.email"
                   data-ng-disabled="gameCtrl.gameStarted"/>
        </div>

        <h3 class="player-name" data-ng-if="gameCtrl.gameStarted">{{gameCtrl.player1.name}}</h3>
        <h1 class="time" data-ng-if="gameCtrl.gameStarted">{{gameCtrl.formatTime(gameCtrl.player1)}}</h1>

        <button class="btn"
                data-ng-if="gameCtrl.gameStarted"
                data-ng-click="gameCtrl.stopGame(gameCtrl.player1)"
                data-ng-disabled="gameCtrl.player1.hasFinished">
            Stop
        </button>
    </div>
    <div class="player-container">
        <h2 class="title">Player 2</h2>
        <div class="form-group"
             data-ng-show="!gameCtrl.gameStarted">
            <input type="text"
                   placeholder="Name"
                   class="form-control"
                   data-ng-model="gameCtrl.player2.name"
                   data-ng-disabled="gameCtrl.gameStarted"/>
        </div>
        <div class="form-group"
             data-ng-show="!gameCtrl.gameStarted">
            <div class="form-group"
                 data-ng-show="!gameCtrl.gameStarted">
                <input type="email"
                       placeholder="E-mail"
                       class="form-control"
                       data-ng-model="gameCtrl.player2.email"
                       data-ng-disabled="gameCtrl.gameStarted"/>
            </div>
        </div>

        <h3 class="player-name" data-ng-if="gameCtrl.gameStarted">{{gameCtrl.player2.name}}</h3>
        <h1 class="time" data-ng-if="gameCtrl.gameStarted">{{gameCtrl.formatTime(gameCtrl.player2)}}</h1>

        <button class="btn"
                data-ng-if="gameCtrl.gameStarted"
                data-ng-click="gameCtrl.stopGame(gameCtrl.player2)"
                data-ng-disabled="gameCtrl.player2.hasFinished">
            Stop
        </button>
    </div>


    <div class="btn-container">
        <button class="btn"
                data-ng-click="gameCtrl.startGame()"
                data-ng-if="!gameCtrl.gameStarted"
                data-ng-disabled="!gameCtrl.canGameStart()">
            Start game
        </button>

        <button class="btn"
                data-ng-click="gameCtrl.finishGame()"
                data-ng-if="gameCtrl.player1.hasFinished && gameCtrl.player2.hasFinished"
                data-ng-disabled="!gameCtrl.hasGameFinished()">
            Finish game
        </button>
    </div>

</div>



<br/>
<br/>

<!--{{gameCtrl.player1}}-->
<!--{{gameCtrl.player2}}-->

<br />

